@model IEnumerable<Gemma.Models.MemberCenter>

@{
    ViewBag.Title = "会員登録";
}

<br />
<div class="container-fluid  content-grid">
    <div class="row-fluid ">
        <div>
            <div>
                <h1 class="TopTitle">会員登録が完了しました</h1>
                <div>
                    @*<span class="ty-success-registration__text">会員登録が完了しました。</span>*@
                    <ul>
                        @foreach (var x in Model)
                        {
                            <li class="col-md-6 homeblock">
                                <a style="text-decoration: none;" class="url " href="@x.NextUrl" rel="nofollow">@x.Item</a>
                                <span class="url_buttom">@x.ItemDesciption</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Assets/CSS/MemberCenter.css" rel="stylesheet" />
@section topCSS{
    <style>
        .homeblock {
            border-left: solid #191919 1px;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 30px;
            padding-left: 17px;
        }

        .url {
            color: #191919;
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
        }

        .url_buttom {
            display: block;
            margin-top: 10px;
        }
    </style>
}