@using Gemma.Models;
@model IEnumerable<CollectionItem>

@{
    ViewBag.Title = "CollectionPhotos";
}
<main role="main">
    <div class="album py-5">
        <section id="collection" class="section-bg">
            <div class="container">

                <div class="row collection-container">

                    @foreach (var photo in Model)
                    {
                        @Html.Partial("_CollectionPartial", photo);
                    }

                </div>
            </div>
        </section><!-- #collection -->

    </div>

</main>



@section topCSS{
    <link href="~/Assets/css/CollectionStyle.css" rel="stylesheet" />
    <link href="~/Assets/css/lightbox.min.css" rel="stylesheet" />
    @*<link href="~/Assets/css/lightbox.css" rel="stylesheet" />*@
    <style>
        body {
            overflow-x: hidden;
        }

        .collection-item > img{
            cursor:pointer;
        }
    </style>
}

@section endJS{
    <script src="~/Assets/js/CollectionJS.js"></script>
    <script src="~/Assets/js/lightbox.js"></script>
    <script>
        lightbox.option({
            'disableScrolling': true
        })
        $(() => {

            $('.collection-item img').on('click', function () {
                var urlNumber = this.getAttribute('alt');

                $('.lb-container').attr('alt', urlNumber);
                $('.lb-container').click(() => {
                    var number = $('.lb-container').attr('alt');
                    location.href = `/Details/${number}`;
                })
            });

        })
    </script>
}

