@{
    ViewBag.Title = "確認電子郵件";
}

<h2 style="text-align:center">確認メール</h2>
<div>
    <p style="font-size:20px; text-align:center">
        メールを確認していただきありがとうございます。 ここをクリックしてください @Html.ActionLink("会員登録が完了しました", "Home", "MemberCenter", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
