@{
    ViewBag.Title = "忘記密碼確認";
}

<hgroup class="title">
    @*<h1>パスワードの確認を忘れた</h1>*@
</hgroup>
<div>
    <p style="text-align:center; font-size:20px; margin-top:40px;">
            <b>メールを確認してパスワードをリセットしてください。</b>
    </p>
    
</div>
	
