@model Gemma.Models.ForgotPasswordViewModel
@using Gemma.Helper
@{
    ViewBag.Title = "忘記密碼?";
}

@* 忘記密碼 *@
<h2>パスワード再発行</h2>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-5">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.RequiredLabelFor(m => m.Email, new { @class = "control-label FontSize" })
                    <br /><br />
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control TextBox" })
                    </div>
                </div>

                <div class="form-group">
                    <div align="center">
                        <input type="submit" value="パスワード再発行(未實作)" id="Btn_ResetPassword" />
                    </div>
                </div>
            }
        </div>

        @*<div class="col-md-1"></div>*@

        <div class="col-md-5" id="Right_Description">
            <h3><b>パスワード再発行</b></h3>
            <p>パスワードをお忘れの場合はEメールアドレスを入力して パスワード再設定 ボタンを押してください。</p>
            <p>パスワードの再設定に関するメールが送信されます。</p>
        </div>

    </div>
</div>

@section topCSS {
    <style>
        /*標題: 新會員註冊*/
        h2 {
            text-align: center;
            font-size: 50px;
            margin-bottom: 40px;
        }

        /*字體大小*/
        .FontSize {
            font-size: 13px;
        }

        /*輸入框 => 長度、輸入框高度、輸入字體大小、背景顏色、邊框*/
        .TextBox {
            max-width: 100%;
            height: 30px;
            font-size: 13px;
            background-color: #FFF5EA;
            border: black 1px solid;
        }

            /*輸入時，背景的顏色*/
            .TextBox:focus {
                background-color: #FFF5EA;
            }

        /*Btn登入*/
        #Btn_ResetPassword {
            width: 174px;
            height: 40px;
            font-size: 12px;
            background-color: black;
            color: white;
        }



        /*右邊說明*/

        #Right_Description {
            margin-left: 50px;
            font-size: 15px;
        }

            #Right_Description > h3 {
                margin-bottom: 30px;
            }

            #Right_Description > ul > li {
                padding-bottom: 10px;
            }
    </style>
}
