@{
    ViewBag.Title = "重設密碼確認";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>*@
<div>
    <p style="text-align:center; font-size:20px; margin-top:40px;">
        <b>パスワードがリセットされました。 @Html.ActionLink("ログインするにはここをクリックしてください", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</b>
        @* 您的密碼已重設。請 按一下這裡登入 *@
    </p>
</div>
