
<link href="~/Assets/css/main.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

<div class="app-header header-shadow">
    <div class="app-header__logo">
    </div>
    <div class="app-header__mobile-menu">
    </div>
    <div class="app-header__menu">
    </div>
    <div class="app-header__content">
        <div class="app-header-right">
        </div>
    </div>
</div>
