<!--右上大圖片-->
<div><img src="https://danigemma.com/images/shop/category/category-all.jpg" class="bigphoto"></div>
<br />
<br />
<div class="p-class">
    <p>
        エレガントなデザインとインポートのようなフォルムが魅力のDaniella Tam
        （ダニエラ タム）、程よく辛口でトレンド感のあるカジュアルシューズGEMMA LINN
        （ジェマ リン）。異なる２人のシューズクローゼットをイメージし、ベーシックから
        遊び心あふれるデザインまでデイリーに履けるモードなシューズコレクション。
    </p>
</div>
<br />
<!--右邊下拉式選單-->
<div class="select-div">
    <form>
        SORT :
        <select name="sort" class="select">
            <option value="set" selected>登録日時の新しい順</option>
            <option value="low">価格の低い順</option>
            <option value="high">価格の高い順</option>
        </select>
    </form>
</div>
<br />
<br />
