@model Gemma.ViewModel.BookMarkViewModel
@using System.Globalization;

    <div class="col-md-3 ">

        <img class="bk" src="~/Assets/images/empty.jpg" />
        <div class="delete ">
            <i class="fas fa-times "></i>
        </div>

        
    </div>
<br />
<br />