<div class="col">

    <div class="left-list">
        BRAND ——
        <ul>
            <li class="all-underline">ALL</li>
            <li>Daniella Tam</li>
            <li>GEMMA LINN</li>
        </ul>
    </div>

    <div class="left-list">
        CATEGORY ——
        <ul>
            <li class="all-underline">ALL</li>
            <li>PUMPS</li>
            <li>FLAT SHOES</li>
            <li>MANNISH</li>
            <li>SNEAKER</li>
            <li>SANDAL</li>
            <li>BOOTS</li>
        </ul>
    </div>

    <div class="left-list">
        COLOR ——
        <ul>
            <li class="all-underline">ALL</li>
            <li>BLACK/GRAY</li>
            <li>BEIGE/BROWN</li>
            <li>WHITE/IVORY</li>
            <li>PINK/ORANGE</li>
            <li>BLUE/GREEN</li>
            <li>RED/PURPLE</li>
            <li>GOLD/SILVER</li>
            <li>ANIMAL/PATTERN / MALTI</li>
        </ul>
    </div>

    <div class="left-list">
        PRICE ——

    </div>

</div>
