@model SingleProductViewModel

<div class="card" style="width: 18rem;">
    <div class="card-body">
        @*<p class="card-text">@Model.Description</p>*@
        <a href="/Details/@Model.ProductId" class="btn btn-primary">詳細資料</a>
    </div>
</div>
