
@{
    ViewBag.Title = "_Social_Icons";
}


<div class="social-icons p-0">
    <ul >
        <li class="line"><a href="http://nav.cx/83sFo0l"><img src="~/Assets/images/Icons/Line_Mark.png" /></a></li>
        <li class="instagram"><a href="https://www.instagram.com/daniella_and_gemma/"><img src="~/Assets/images/Icons/Instagram_Mark.png" /></a></li>
        <li class="facebook"><a href="https://www.facebook.com/daniellaandgemma/"><img src="~/Assets/images/Icons/Facebook_Mark.png" /></a></li>
        <li class="twitter"><a href="https://twitter.com/daniandgemma?lang=ja"><img src="~/Assets/images/Icons/Twitter_Mark.png" /></a></li>
    </ul>
</div>

