
@{
    ViewBag.Title = "CartView";
}

<div class="container" style="padding-top:50px">
    @{
        if (Session["CartView"] == null)
        {
            <div class="cart-section">
                <div class="cart-no-items">
                    <p>カートは空です</p>
                </div>
            </div>

        }
        else
        {
            @Html.Partial("GetCart", Session["CartView"])

        }


    }

</div>
@section endJS{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script>
        //function BindingOneItem() {
        //    new Vue({
        //        el: "#ddd",
        //        data: {
        //            count: 1,
        //            price: 1
        //        },
        //        computed: {
        //            oneItemTotal: function () {
        //                var total = this.$data.count * this.$data.price;
        //                return total;
        //            }
        //        },
        //    })
        //}
        
        function CartTotal() {
            var income = 0;
            income = parseInt($('#itemPrice').html()) + 500 + parseInt($('#itemPriceTax').html());
        $('#cartitemTotal').html(income);
        }
        function ItemToTax() {
        $('#itemPriceTax').html($('#itemPrice').html() * 0.05);
        }
        function ItemToPrice(ans) {
            	
        $('#itemPrice').html(ans);
        }
        function AmountCartSub() {
            input = 0;
                        $(".AmountCart").toArray().forEach(function (item, index) {
                input += parseInt(item.innerText);
                console.log( parseInt(item.innerText))
            })
        }
        //function ControllButtonData(aa) {
        //    var aa;
        //    if (aa <= 1) {
        //        $(this).parent().children('button').attr('disable', true)
        //    }
        //    else {
        //        $(this).parent().children('button').attr('disable', false)
        //    }
        //}
            var input = 0;
        $(() => {
            AmountCartSub();

            $(".QuantityReducing").click(function () {
                var x = $(this).parent().children('input').val()                
                $(this).parent().children('input').val(x - 1)
                var y = $(this).parent().parent().children(".priceForCart").children('span').html();
                $(this).parent().parent().children('.AmountCart').children('span').html((x - 1) * y);
                AmountCartSub();
                ItemToPrice(input);
                ItemToTax();
                CartTotal();
            });
            $(".QuantityAdding").click(function () {
                
                var x = $(this).parent().children('input').val();
                $(this).parent().children('input').val(x - (-1))
                var y = $(this).parent().parent().children('.priceForCart').children('span').html();
                $(this).parent().parent().children('.AmountCart').children('span').html((x - (-1)) * y);
                AmountCartSub();
                ItemToPrice(input);
                ItemToTax();
                CartTotal();
            });
            
         //   $(".AmountCart").toArray().each(function () {
 
         //       input += parseInt($(this).innerText);
         //       console.log( parseInt($(this).innerText))
 
	        //});
            @*BindingOneItem();*@
            ItemToPrice(input);
            ItemToTax();
            CartTotal();

            $('.deleteData').click(function () {
                var CartID = $(this).parent().children('.cartID').html();
                console.log(CartID);
                $.ajax({
                    type: "POST",
                    url: "/Cart/DeleteCartData",
                    data: { CartID: CartID },
                    dataType: "text",
                    success: function (response) {
                        location.href='@Url.Action("CartView","Cart")'
                    }
                });
            });
            $('#checkCart').click(function () {
                var ProductID = [];
                $('.productID').each(function () {
                    ProductID.push($(this).attr('title'));
                    console.log("ProductID", $(this).attr('title'));
                });
                var SizeID = [];
                $('.sizeID').each(function () {
                    SizeID.push($(this).attr('title'));
                });
                var ColorID = [];
                $('.colorID').each(function () {
                    ColorID.push($(this).attr('title'));
                });
                var Quantity = [];
                $('.QuantityCart').each(function () {
                    Quantity.push($(this).val());
                });
                var Price = [];
                $('.priceForCart span').each(function () {
                    Price.push($(this).html());
                });

                $.ajax({
                    type: "POST",
                    url: "/Checkout/GetUncheckOrder",
                    data: { ProductID: ProductID, ColorID: ColorID, SizeID: SizeID, Quantity: Quantity, Price: Price },
                    dataType: "text",
                    success: function (response) {
                        console.log(response);
                    }
                });
            });
        })
    </script>
}

@section topCSS{
    <style>
        .cart-with-items img {
            width: 100px;
            height: 100px;
        }

        .cart-no-items {
            text-align: center;
            background-color: white;
            height: 300px;
        }

            .cart-no-items p {
                padding-top: 115px;
                font-size: 45px;
                font-family: 'Roboto', sans-serif;
            }

        #checkCart {
            margin-left:70%;
            background-color: black;
            color: white;
        }

        .cartSubtotal ul li{

            font-size:20px;
            font-family: 'Roboto', sans-serif;
            line-height: 50px;
        }

    </style>
}
