@model IEnumerable<Gemma.ViewModel.BookMarkViewModel>

@section topCSS{

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

    <link href="~/Assets/css/BookMark.css" rel="stylesheet" />
}
@{
    ViewBag.Title = "心願清單";
}

@* 心願清單 *@
<h2><b>B O O K M A R K</b></h2>
<div class="container">
    <div class="row">
        @for (var i = 0; i < 4; i++)
        {
            @Html.Partial("_BookMarkPicturePartial")}
      
        <div class=" offset-md-4 mt-5" id="bkbtn">
            <button id="bkclear" type="button" class="btn btn-dark mr-5">BOOKMARKのクリア</button>
            <button id="bkcontinue" type="button" class="btn btn-dark">買い物を続ける</button>
        </div>
    </div>
</div>



@section endJS{
    <script>
        $(() => {
            $('#bkclear').click(function(){
                location.href = '@Url.Action("Index","BookMark",new { isDeleteAll = true})'
            })
            $('#bkcontinue').click(function(){
                location.href = '@Url.Action("FindBrand","OnlineStore")'
            })
            $('img[src$="empty.jpg"]').parent().children('div').addClass('test')
            $('.bk').not('img[src$="empty.jpg"]').parent().children('div').removeClass('test')
            $('.delete').click(function () {
                $(this).parent().children('img').attr('src',"../../Assets/images/empty.jpg")
                $(this).addClass('test')
            })
        })
    </script>
}
