@{
    ViewBag.Title = "Home Page";
}
@section topCSS{
    <link href="~/Assets/CSS/FixedMenu.css" rel="stylesheet" />
}

@Html.Partial("IndexPartial")
@*<body>



</body>*@

@Html.Partial("_Footer")

@section endJS{
    <script src="~/Assets/js/FixedMenuForIG.js"></script>
}