<div class="row-fluid">

    <header>
        <h1 class="shoplist-title">
            <span>SHOP LIST</span>
        </h1>
    </header>

    <div class="padding">
        <div class="ty-mainbox-body">

            <div class="shoplist-page">
                <div class="shoplist">
                    <h2 class="shoplist-name">Daniella & GEMMA 渋谷ShinQs店</h2>
                    <p class="shoplist-info">
                        〒150-8509　東京都渋谷区渋谷2-21-1 渋谷ヒカリエ ShinQs 3F ShinQs シューズカレイド<br>
                        電話番号：03-6434-1704（代表番号）<br>
                        営業日時： 10:00 - 21:00 / 不定休
                    </p>
                </div>
                <br />
                <hr/>
                <br />
                <div class="shoplist">
                    <h2 class="shoplist-name">Daniella & GEMMA うめだ阪急店</h2>
                    <p class="shoplist-info">
                        〒530-8350　大阪府大阪市北区角田町8-7 阪急うめだ本店4Ｆ シューズギャラリー<br>
                        電話番号：06-6361-1381（代表番号）<br>
                        営業日時： 10:00 - 20:00（日～木）/ 10:00 - 21:00（金・土） / 不定休

                    </p>
                </div>
                <br />
                <hr>
                <br />
                <div class="shoplist">
                    <h2 class="shoplist-name">
                        Daniella & GEMMA 銀座三越店<span class="notice">※8月21日オープン</span>
                    </h2>
                    <p class="shoplist-info">
                        〒104-0061　東京都中央区銀座4-6-16 銀座三越2F 婦人靴売り場<br>
                        電話番号：03-3562-1111（代表番号）<br>
                        営業日時：10:00 - 20:00（月～土）/ 10:00 - 19:30（日） / 不定休

                    </p>
                </div>
                <br />
                <hr>
                <br />
                <div class="shoplist">
                    <h2 class="shoplist-name">
                        Daniella & GEMMA 大丸福岡天神店<span class="notice">※9月18日オープン</span>
                    </h2>
                    <p class="shoplist-info">
                        〒810-0001　福岡県福岡市中央区天神1-4-1 大丸福岡天神店本館B1F 婦人靴売り場<br>
                        電話番号：092-712-8181（代表番号）<br>
                        営業日時：10:00 - 20:00 / 不定休
                    </p>
                </div>
                <br />
                <hr>

            </div>

        </div>
    </div>

</div>

@section topCSS{
    <link href="~/Assets/css/Shop.css" rel="stylesheet" />
}
