
@{
    ViewBag.Title = "JournalList1";
}

@section topCSS{
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #F5F5F5;
        }

        .img1 img {
            width: 140%;
            height: 100%;
            transition:0.5s ease-in-out;
        }

        span {
           font-size:25px;font-weight:bold;
            margin-left:320px;
        }
         .img1 img:hover {
		transform : scale(1.02);
        transition:0.5s ease-in-out;
	}
	
        .wordLeft {
            margin-top:120px;
            height:400px;
            line-height: 50px;
            font-size:25px;
            margin-bottom:100px;
        }
     
    </style>


}
@section endJS{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
}
<div class="container ">
    <div class="row">
        <div class="img1">
            <img src="~/Assets/images/Journalimg/J4.jpg" />
           
        </div>

        <div class="wordLeft">
            <span style="margin-left:480px">2019.09.09</span> <br />
            <span>Dani Gema official LINE account started</span>
            <br /><br /><br />
            Daniella & GEMMA official LINE account opened.<br />

            To commemorate the opening, 500 yen points will be given to those who register as friends.<br />
            Please register at this opportunity.<br />

            ⇒Register your friend<br />

            * Please see the coupon page from the menu displayed after registration.<br />
            * You can get a discount by entering the coupon code on the shopping cart page.<br />

           



        </div>
       
      
    </div>

</div>
