
@{
    ViewBag.Title = "LoadingPage";
}

<div class="loading">
    <img src="~/Assets/images/Icons/logo.png" class="loading-img" />
</div>



@section topCSS{
    <link href="~/Assets/css/loadingpage.css" rel="stylesheet" />
}

@section endJS{

    <script src="~/Assets/js/loadingpage.js"></script>

}